<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://unpkg.com/@json-editor/json-editor@1.4.0-beta.0/dist/jsoneditor.min.js"></script>

<style lang="stylus" id="stylus">
  .page {
      padding:20px;
      position:relative;
  }
  
  div[data-schemaid="root"] > h3,
  div[data-schemaid="root"] > h5{
    line-height:0px !important;
    height:0px;
    display:none;
  }
  
  div[data-schemaid="root"] > .card-panel,
  div[data-schematype="array"] > .card-panel {  
    box-shadow:none !important;
    padding:0 !important;
  }
  
  div[data-schematype="array"] > .card-panel .input-field{  
    margin-bottom:0 !important;
  }
  
  div[data-schemaid="root"] .col {
    padding:0 !important;
  }
  
  div[data-schematype="object"] > h5 {
    text-align:right;
  }
  
  div[data-schematype="object"] > h5 > label {
    display:none;
  }
  
  .json-editor-btntype-add,
  .json-editor-btntype-delete{
    width:32px;
  }
  
  .row{
    margin-bottom:5px !important;
  }
  
  input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    height: 2rem !important;
    margin: 8px 0 8px 0 !important;
  }
  
  .card-panel{
    padding:7px 24px !important;
  }
  
  .btn-center{
    margin:0 auto; 
    width:115px; 
    display:block;
  }
</style>